<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PECAN</title>
    {{>bootstrapJqueryFont}}
    <link rel="stylesheet" type="text/css" href="/css/registrationView.css">
    <link rel="stylesheet" href="/css/userprofile.css" >
  </head>

  <body>

  {{>navbar}}

  {{>profileDropdown}}
    <!--<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">-->
        <!--<a class="navbar-brand order-lg-0" href="/index">PECAN</a>-->

        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarButtons" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse order-lg-1" id="navbarButtons">-->
            <!--<ul class="navbar-nav ml-auto">-->
                <!--<li class="nav-item">-->
                    <!--<a id="mailBoxLink" class="nav-link" href="./mailbox"><i class="far fa-envelope"></i>Mailbox</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->

    <!--&lt;!&ndash; <a id="userProfileLink" href="userprofile.html"><img src="src/profileImage.png" id="profileImage"></a> &ndash;&gt;-->
    <!--<div class="dropdown" id="profileMenu">-->
      <!--<a class="dropbtn" id="userProfileLink" href="/userprofile"><img src="/img/profileImage.png" id="profileImage"></a>-->
      <!--<div class="dropdown-content">-->
        <!--<a href="/userprofile">View Profile</a>-->
        <!--<a href="/changeinfo">Edit Profile</a>-->
        <!--<a href="/changepassword">Change Password</a>-->
      <!--</div>-->
    <!--</div>-->

    <div id="jumbotron" class="jumbotron jumbotron-fluid">
        <form class="form-inline justify-content-between justify-content-between">
            <span class="display-4 d-none d-lg-inline strong" id="titleName">PECAN<span class="lead d-none d-lg-inline"> Schedule And Share</span></span>
        </form>
    </div>

     <div class="container detailedInfo">
		<div id="updateInfo">
		<h3>Profile Info</h3>
			<h3 >Email:   <input class="typeAble" ></span></h3>
			<h3 >UserName:<input  class="typeAble" > </span><h3>
			<h3>Program: <span id="curProgram"></span><span class="program"></span>  <submit id="addProgram">  edit</submit></h3>
			<h3 >Age:<input  class="typeAble" > </span><h3>
			<h3>Self Intro:</h3><textarea id="selfIntro" ></textarea>
                <h3 >Password:   <input class="typeAble" ></span></h3>
                <input type="submit" class="btn btn-outline-primary btn-2x submitProfile" value="submit"></div>

		</div>

	<script>function myFunction(){}</script>
  {{>bootstrapJS}}

  <script src="/js/data.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/updateInfo.js"></script>
 </body>
</html>
